@font-face {
  font-family: 'highspeed';
  src: url('../fonts/font.TTF');
}

body {
  background-color: black;
  margin: auto;
  font-family: Arial;
  color: #f47721;
  font-family: 'highspeed', monospace;
}

::-webkit-scrollbar {
    display: none;
}

h1{
  font-size: 700%;
  padding-left: 6%;
  padding-right: 6%;
  color: #f47721;
}

.main-title{
  margin-top: 15%;
}

.title{
  clear: left;
  float:left;
  margin-left: 8%;
  margin-top: 3%;
  width: 91%;
  font-size: 250%;
}

.title-line{
  float: left;
  padding-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-dir{
  float: left;
  padding-right: 4%;
  background: rgba(244, 119, 33, 0.01);
}

.title-start{
  float: left;
  display: none;
  padding-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-end{
  float: left;
  padding-right: 4%;
  background: rgba(244, 119, 33, 0.01);
}

.title-clock{
  float: left;
  background: rgba(244, 119, 33, 0.01);
}

.data{
  clear:left;
  float: left;
  margin-top: 2%;
  margin-left: 8%;
  font-size: 170%;
  width: 93%;
}

.data-line{
  float: left;
  margin-top: 0px;
  width: 15.5%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-dir{
  float: left;
  margin-top: 0px;
  width: 27%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-start{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
  width: 25%;
  background: rgba(244, 119, 33, 0.01);
}

.data-end{
  float: left;
  margin-top: 0px;
  width: 35%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-clock{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.spacer{
clear: left;
float: left;
margin-top: 8%;
margin-left: 23%;
height: 50px;
width: 70%;
font-size: 150%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
