@font-face {
  font-family: 'highspeed';
  src: url('font.TTF');
}

body {
  background-color: black;
  margin: 0px;
  font-family: Arial;
  color: #f47721;
  font-family: 'highspeed', monospace;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  clear:left;
  margin-left: -22%;
  margin-right: -28%;
    font-size: 250%;
}

.title-line{
  margin-top: 5%;
  float: left;
  width: 10.5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-dir{
  margin-top: 5%;
  float: left;
  width: 18%;
  background: rgba(244, 119, 33, 0.01);
}

.title-start{
  margin-top: 5%;
  float: left;
  width: 24.7%;
  background: rgba(244, 119, 33, 0.01);
}

.title-end{
  margin-top: 5%;
  float: left;
  width: 23%;
  background: rgba(244, 119, 33, 0.01);
}

.title-clock{
  margin-top: 5%;
  float: left;
  width: 17.5%;
  background: rgba(244, 119, 33, 0.01);
}

.data{
  clear:left;
  font-size: 140%;
  margin-left: -22%;
  margin-right: -28%;
}

.data-line{
  float: left;
  width: 10.5%;
  margin-top: 1%;
  background: rgba(244, 119, 33, 0.01);
}

.data-dir{
  float: left;
  width: 18%;
  margin-top: 1%;
  background: rgba(244, 119, 33, 0.01);
}

.data-start{
  width: 24.7%;
  float: left;
  margin-top: 1%;
  background: rgba(244, 119, 33, 0.01);
}

.data-end{
  width: 23%;
  float: left;
  margin-top: 1%;
  background: rgba(244, 119, 33, 0.01);
}

.data-clock{
  width: 17.5%;
  float: left;
  margin-top: 1%;
  background: rgba(244, 119, 33, 0.01);
}

h1{
  font-size: 900%;
  color: #f47721;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 10%;
  height: 100%;
  margin-top: 3%;
  margin-left: 40%;
  margin-right: 40%;
  position: relative;
}

.searchbar {
  font-size: 100%;
  width: 200%;
  height: 1%;
  border: none;
  outline: none;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  padding: 5%;
  position: relative;
  transition: all .2s;
  transition-delay: .1s;
}

.button {
  height: 70%;
  position: absolute;
  top: 10%;
  left: 180%;
  transition: all .2s;
  transition-delay: .1s;
}

.button:hover {
  cursor: pointer;
}

.searchbar::placeholder {
  opacity: .5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
