@font-face {
  font-family: 'highspeed';
  src: url('font.TTF');
}

body {
  background-color: black;
  margin: auto;
  font-family: Arial;
  color: #f47721;
  font-family: 'highspeed', monospace;
}

h1{
  font-size: 900%;
  padding-left: 20%;
  color: #f47721;
}

.main-title{
  margin-top: 5%;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  clear: left;
  float:left;
  margin-left: 9%;
  margin-top: 5%;
  width: 91%;
  font-size: 250%;
}

.title-line{
  float: left;
  padding-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-dir{
  float: left;
  padding-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-start{
  float: left;
  padding-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-end{
  float: left;
  margin-right: 5%;
  background: rgba(244, 119, 33, 0.01);
}

.title-clock{
  float: left;
  background: rgba(244, 119, 33, 0.01);
}

.data{
  clear:left;
  float: left;
  margin-top: 2%;
  margin-left: 9%;
  font-size: 170%;
  width: 91%;
}

.data-line{
  float: left;
  margin-top: 0px;
  padding-right: 5%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-dir{
  float: left;
  margin-top: 0px;
  padding-right: 12.5%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-start{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 14.5%;
  background: rgba(244, 119, 33, 0.01);
}

.data-end{
  float: left;
  margin-top: 0px;
  padding-right: 15%;
  margin-bottom: 0px;
  background: rgba(244, 119, 33, 0.01);
}

.data-clock{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 12%;
  background: rgba(244, 119, 33, 0.01);
}

@media only screen and (max-width: 1600px){
  h1{
    font-size: 900%;
    padding-left: 15%;
    color: #f47721;
  }

  .main-title{
    margin-top: 5%;
  }

  .title{
    clear: left;
    float:left;
    margin-left: 3%;
    margin-top: 5%;
    width: 95%;
    font-size: 250%;
  }

  .title-line{
    float: left;
    padding-right: 5%;
    background: rgba(244, 119, 33, 0.01);
  }

  .title-dir{
    float: left;
    padding-right: 5%;
    background: rgba(244, 119, 33, 0.01);
  }

  .title-start{
    float: left;
    padding-right: 5%;
    background: rgba(244, 119, 33, 0.01);
  }

  .title-end{
    float: left;
    margin-right: 5%;
    background: rgba(244, 119, 33, 0.01);
  }

  .title-clock{
    float: left;
    background: rgba(244, 119, 33, 0.01);
  }

  .data{
    clear:left;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 170%;
    width: 95%;
  }

  .data-line{
    float: left;
    margin-top: 0px;
    padding-right: 5%;
    margin-bottom: 0px;
    background: rgba(244, 119, 33, 0.01);
  }

  .data-dir{
    float: left;
    margin-top: 0px;
    padding-right: 13.5%;
    margin-bottom: 0px;
    background: rgba(244, 119, 33, 0.01);
  }

  .data-start{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 16.5%;
    background: rgba(244, 119, 33, 0.01);
  }

  .data-end{
    float: left;
    margin-top: 0px;
    padding-right: 16.2%;
    margin-bottom: 0px;
    background: rgba(244, 119, 33, 0.01);
  }

  .data-clock{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow:hidden;
    white-space: nowrap;
    width: 7.5%;
    background: rgba(244, 119, 33, 0.01);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.spacer{
  clear: left;
  float: left;
  height: 50px;
  width: 100%;
}
